  
  {% extends 'base.html'%}
  
  {% block title %}
    <title>Edit Task - Task Manager</title>
  {% endblock title %}

   {% block content %}
   
   <div class="container">
      <br/>
      {% if task_obj.manager == request.user %}
         <form method="POST" class="row">
          {% csrf_token %}
         <input type="text" name="task" class="form-control col-lg-9" placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
         <input type="hidden" name="done" value="{{task_obj.done}}">
         <button type="submit" class="btn btn-primary col-lg-3 mt-2">Update Task</button>
         </form>
        {% else %}
        <p class="text-primary">Access Restricted, You're Not Allowed!</p>
        {% endif %}
   </div>  
  
   {% endblock content %}